@import "header";
@import "section_1";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body{
  font-family: Chivo;
  font-size: 2rem;
  color: #f2f2f2;
  overflow-wrap: break-word;
}

.container{
  max-width:100%;
  min-width: 320px;
  .wrap{
    max-width: 150rem;
    min-width: 29rem;
    padding: 0 15px;
    margin: 0 auto;

  }
}