.section_3{
  background-image: url("../img/section_3/section_3_bg.png");
  background-size: cover;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    .heading_paragraph{
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: initial;
      margin: 9rem;

      &::before, &::after{
        content: url("../img/section_3/text_icon.png");
        padding: 0 5rem;
      }
    }
  }
}